@charset "utf-8";
/* CSS Document */

/* Celular           <768px
Tablet               ≥768px
Medium Desktops      ≥992px
Large Desktops       ≥1200px*/

@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

body 
{
  scrollbar-width: none;
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar { display: none; }
.selector-for-some-widget 
{
    box-sizing: content-box;
}
.container-fluid
{
  margin: 0px;
  padding: 0px;
}
.row
{
  overflow-x: hidden;
  margin:0%;
}
.col
{
  margin:0%;
  padding: 0%;
}
.col-sm-12
{
  padding: 0%;
  margin: 0%;
}
.col-md-6
{
  padding: 0%;
  margin: 0%;
}
.col-4
{
  padding: 0%;
  margin: 0%;
}
.anchopant
{
  width: 100%;
}
/* Contenedor 1 PIRINEOS (móvil)*/
.conten1
{
  position: relative;    /*para poder posicionar el texto de forma absoluta*/
  z-index: -99;
}
.logo-cont1
{
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  margin-left: 25%;
  margin-top: 14%;
  text-align: center;
}
.textoh1-cont1 
{ 
  position: absolute;
  width: 80%;
  left: 0; 
  top: 0;
  margin-left: 10%;
  margin-top: 30%;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}
.textoh2-cont1 
{ 
  position: absolute;
  width: 60%;
  left: 0; 
  top: 0;
  margin-left: 20%;
  margin-top: 40%;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 155.4%;
  letter-spacing: 0.04em;
  color: white;
}

/* Contenedor 2: ORIGEN (móvil) */

/* Contenedor 3 AVICULTURA DE MUNTANYA (móvil)*/

/* Contenedor 4: CRIA PRÒPIA (movil)*/

/* Contenedor 5: ALIMENTACIÓ ECOLÒGICA (movil)*/

/* Contenedor 6: LA GRANJA (movil)*/

/* Contenedor 7: MEDIAMBIENT (movil)*/

/* Contenedor 8: ELS NOSTRES OUS (movil)*/

/* Contenedor 9: OUS FRESCOS (movil)*/
.conten9
{
  position: relative;
  z-index: -99;
}
.logo-cont9
{
  position: absolute;
  width: auto;
  left: 6%;
  top: 7%;
}
.titulo-cont9
{
  position: absolute;
  width: 40%;
  top:30%;
  left: 40%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 75px;
  color: #4A3B3B;
}
.texto-cont9
{
  position: absolute;
  top: 55%; 
  left: 5%; 
  width: 90%;
  /* Pargraph */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #4A3B3B;
}
/* Contenedor 10: CONTACTO (movil)*/

/* PANTALLA MEDIANA */
@media (min-width: 992px)
{
/* Animaciones */
.animado
{
  opacity: 0;
  transition: all 5s;
}
/* menu lateral flotante */
.menu
{
  position: fixed;
  right: 2%;
  top: 30%;
  z-index: 1;
}
ul li
{
  list-style-type:none;
}
.caja 
{
  position: relative; /*Para poder ubicar la info dentro de la caja*/
  float: right;
  height: 25px;
}
a.nounderline:link
{
text-decoration:none;
}
.info 
{
  right: 18%; /*Desplazamos a partir de la esquina superior izquierda*/
  zoom: 1;
  filter: alpha(opacity=0); /*Opacidad Para IE */
  opacity: 0; /*Inicialmente transparente */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #D6D0D0;
  font-weight: bold;
  font-size: 16px;
  padding-right: 20px;
  -moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
  -webkit-transition:all ease .8s ;
  transition:all ease .8s;
}
.caja:hover .info 
{
  filter: alpha(opacity=80);
  opacity: .8; /*Al hacer hover sobre la caja hacemos visible los datos*/
}

/* Contenedor 1: Inicio Pirineos (pantalla mediana)*/
.conten1
{
  position: relative;    /*para poder posicionar el texto de forma absoluta*/
  z-index: -99;
}
.logo-cont1
{
  position: absolute;
  width: 20%;
  left: 0;
  top: 0;
  margin-left: 40%;
  margin-top: 20%;
  text-align: center;
}
.textoh1-cont1 
{ 
  position: absolute;
  width: 50%;
  left: 0; 
  top: 0;
  margin-left: 25%;
  margin-top: 27%;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 155.4%;
  letter-spacing: 0.105em;
  color: white;
}
.textoh2-cont1 
{ 
  position: absolute;
  width: 30%;
  left: 0; 
  top: 0;
  margin-left: 35%;
  margin-top: 31%;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 155.4%;
  letter-spacing: 0.04em;
  color: white;
}

/* Contenedor 2: ORIGEN (pantalla mediana)*/
.conten2
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont2
{
  position: absolute;
  width: 40%;
  top:0;
  left:0;
  margin-left: 30%;
  margin-top: 6%;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 139.4%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.texto-cont2 
{ 
  position: absolute;
  width: 40%;
  top:0;
  left:0;
  margin-left: 30%;
  margin-top: 13%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.logo-cont2
{
  position: absolute;
  width: 10%;
  top:0;
  left:0;
  margin-left: 45%;
  margin-top: 46%;
}

/* Contenedor 3: AVICULTURA DE MUNTANYA (pantalla mediana)*/
.conten3
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont3
{
  position: absolute;
  width: 40%;
  top:0;
  left:0;
  margin-left: 6%;
  margin-top: 9%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 90%;
  align-items: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.subtitulo-cont3
{
  position: absolute;
  width: 20%;
  top:0;
  left:0;
  margin-left: 6%;
  margin-top: 18%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 155.4%;
  display: flex;
  align-items: center;
  letter-spacing: 0.105em;
  color: #FFFFFF;
}
.textoparraf-cont3
{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.texto-cont3 
{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 40%;
  margin-left: 6%;
  margin-top: 22%;
}
.animado
{
  opacity: 0;
  transition: all 0.5s;
}
.mostrarArriba
{
  animation: mostrarArriba 3s;
}
@keyframes mostrarArriba
{
  0%
  {
    transform: translateY(60px);
  }
  100%
  {
    transform: translateY(0px);
  }
}

/* Contenedor 4: CRIA PRÒPIA (pantalla mediana)*/
.bckg-cont4
{
  background: linear-gradient( #E5E5E5 57%, white 43%);
}
.titulo-cont4
{
  margin-top: 10%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
}
.subtitulo-cont4
{
  width: 95%;
  margin-left: 9%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 113%;
  letter-spacing: 0.105em;
  color: #4A3B3B;
}
.textoparraf-cont4
{
  width: 95%;
  margin-top: 4%;
  margin-left: 9%;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  font-size: 24px;
  line-height: 176.5%;
  letter-spacing: 0.025em;
  color: #4A3B3B;
}
.collag-cont4
{
  margin-left: 1%;
  margin-top: 8%;
  width: 98%;
  align:center;
  z-index: -99;
}
.fade-in
{
  animation: fadeIn;
  transition-delay: 10s;
}
@keyframes fadeIn
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

/* Contenedor 5: ALIMENTACIÓ ECOLÒGICA (pantalla mediana)*/
.bckg-cont5
{
  background-color: #1B1613;
}
.conten5
{
  position: relative;
  width: 100%;
  z-index: -99;
}
.img-cont5
{
  width: 50%;
  margin-left: 40%;
}
.titulo-cont5
{
  width: 42%;
  margin-top: 7%;
  margin-left: 12%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 114.9%;
  text-align: right;
  letter-spacing: 0.07em; 
  color: #FFFFFF;
}
.textoparraf-cont5
{
  width: 45%;
  margin-top: 2%;
  margin-left: 11%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 202%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}
.texto-cont5 
{
  position: absolute;
  left: 0%;
  top: 0%;
}
.mostrarDerecha
{
  animation: mostrarDerecha 3s;
}
@keyframes mostrarDerecha
{
  0%
  {
    transform: translateX(-60px);
  }
  100%
  {
    transform: translateX(0px);
  }
}

/* Contenedor 7: MEDIAMBIENT (pantalla mediana)*/
.conten7
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont7
{
  position: absolute;
  width: 34%;
  margin-top: 6%;
  margin-left: 40%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.textoparraf-cont7
{
  position: relative;
  width: 45%;
  margin-top: 15%;
  margin-left: 40%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  text-align: justify;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.logo-certif7
{
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 46%;
  margin-left: 40%;
}
.texto-cont7
{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
}
.mostrarIzquierda
{
  animation: mostrarIzquierda 3s;
}
@keyframes mostrarIzquierda
{
  0%
  {
    transform: translateX(60px);
  }
  100%
  {
    transform: translateX(0px);
  }
}

/* Contenedor 9: OUS FRESCOS (pantalla mediana) */
.conten9
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont9
{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  margin-top: 8%;
  margin-left: 25%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 90px;
  line-height: 139.4%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.texto-cont9 
{
  position: absolute;
  width: 50%;
  top: 0%; 
  left: 0%;
  margin-top: 16%;
  margin-left: 25%; 
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.logo-cont9
{
  position: absolute;
  width: auto;
  left: 0%;
  top: 0%;
  margin-top: 30%;
  margin-left: 44%; 
}

/* PANTALLA GRANDE */
}
@media (min-width: 1400px)
{
/* Animaciones */
.animado
{
  opacity: 0;
  transition: all 5s;
}

/* Contenedor 1: Inicio Pirineos (pantalla gde)*/
.conten1
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.logo-cont1
{
  position: absolute;
  width: 20%;
  left: 0;
  top: 0;
  margin-left: 40%;
  margin-top: 20%;
  text-align: center;
}
.textoh1-cont1 
{ 
  position: absolute;
  width: 50%;
  left: 0; 
  top: 0;
  margin-left: 25%;
  margin-top: 27%;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 155.4%;
  letter-spacing: 0.105em;
  color: white;
}
.textoh2-cont1 
{ 
  position: absolute;
  width: 30%;
  left: 0; 
  top: 0;
  margin-left: 35%;
  margin-top: 31%;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 155.4%;
  letter-spacing: 0.04em;
  color: white;
}

/* Contenedor 2: ORIGEN (pantalla gde)*/
.conten2
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont2
{
  position: absolute;
  width: 40%;
  top:0;
  left:0;
  margin-left: 30%;
  margin-top:4%;
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 139.4%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.texto-cont2 
{ 
  position: absolute;
  width: 20%;
  top:0;
  left:0;
  margin-left: 40%;
  margin-top: 12%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.logo-cont2
{
  position: absolute;
  width: 10%;
  top:0;
  left:0;
  margin-left: 45%;
  margin-top: 44%;
}

/* Contenedor 3: AVICULTURA DE MUNTANYA (pantalla gde)*/
.conten3
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont3
{
  position: absolute;
  width: 40%;
  top:0;
  left:0;
  margin-left: 10%;
  margin-top: 13%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 90%;
  align-items: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.subtitulo-cont3
{
  position: absolute;
  width: 20%;
  top:0;
  left:0;
  margin-left: 10%;
  margin-top: 22%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 155.4%;
  display: flex;
  align-items: center;
  letter-spacing: 0.105em;
  color: #FFFFFF;
}
.textoparraf-cont3
{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.texto-cont3 
{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 37%;
  margin-left: 10%;
  margin-top: 26%;
}
.mostrarArriba
{
  animation: mostrarArriba 3s;
}
@keyframes mostrarArriba
{
  0%
  {
    transform: translateY(60px);
  }
  100%
  {
    transform: translateY(0px);
  }
}

/* Contenedor 4: CRIA PRÒPIA (pantalla gde)*/
.bckg-cont4
{
  background: linear-gradient( #E5E5E5 50%, white 50%);
}
.titulo-cont4
{
  margin-top: 14%;
  margin-left: 17%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
}
.subtitulo-cont4
{
  width: 70%;
  margin-left: 27%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 113%;
  letter-spacing: 0.105em;
  color: #4A3B3B;
}
.textoparraf-cont4
{
  width: 67%;
  margin-top: 4%;
  margin-left: 27%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 176.5%;
  letter-spacing: 0.025em;
  color: #4A3B3B;
}
.collag-cont4
{
  margin-left: 1%;
  margin-top: 8%;
  width: 98%;
  z-index: -99;
}
.fade-in
{
  animation: fadeIn;
  transition-delay: 10s;
}
@keyframes fadeIn
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

/* Contenedor 5: ALIMENTACIÓ ECOLÒGICA (pantalla gde)*/
.bckg-cont5
{
  background-color: #1B1613;
}
.conten5
{
  position: relative;
  width: 100%;
  z-index: -99;
}
.img-cont5
{
  width: 50%;
  margin-left: 40%;
}
.titulo-cont5
{
  width: 42%;
  margin-top: 12%;
  margin-left: 12%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 114.9%;
  text-align: right;
  letter-spacing: 0.07em; 
  color: #FFFFFF;
}
.textoparraf-cont5
{
  width: 33%;
  margin-top: 2%;
  margin-left: 21%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 202%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}
.texto-cont5 
{
  position: absolute;
  left: 0%;
  top: 0%;
}
.mostrarDerecha
{
  animation: mostrarDerecha 3s;
}
@keyframes mostrarDerecha
{
  0%
  {
    transform: translateX(-60px);
  }
  100%
  {
    transform: translateX(0px);
  }
}

/* Contenedor 6: LA GRANJA (pantalla gde)*/
.titulo-cont6
{
  width: 100%;
  top: 65%;
  font-size: 64px;
  line-height: 75px;
}
.texto-cont6
{
  width: 90%;
  top: 70%;
  margin-left: 5%;
  font-size: 24px;
  line-height: 155.4%;
}

/* Contenedor 7: MEDIAMBIENT (pantalla gde)*/
.conten7
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont7
{
  position: absolute;
  width: 34%;
  margin-top: 12%;
  margin-left: 50%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.textoparraf-cont7
{
  position: relative;
  width: 32%;
  margin-top: 20%;
  margin-left: 51%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  text-align: justify;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.logo-certif7
{
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 45%;
  margin-left: 51%;
}
.texto-cont7
{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
}
.mostrarIzquierda
{
  animation: mostrarIzquierda 3s;
}
@keyframes mostrarIzquierda
{
  0%
  {
    transform: translateX(60px);
  }
  100%
  {
    transform: translateX(0px);
  }
}

/* Contenedor 8: ELS NOSTRES OUS (pantalla) */
.conten8
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont8
{
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 139.4%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.texto-cont8
{
  position: absolute;
  width: 100%;
  top: 35%;
  /* Pargraph */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 155.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color:red;
}
/* Contenedor 9: OUS FRESCOS (pantalla gde) */
.conten9
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.titulo-cont9
{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  margin-top: 12%;
  margin-left: 25%;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 139.4%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.texto-cont9 
{
  position: absolute;
  width: 50%;
  top: 0%; 
  left: 0%;
  margin-top: 20%;
  margin-left: 25%; 
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.logo-cont9
{
  position: absolute;
  width: auto;
  left: 0%;
  top: 0%;
  margin-top: 30%;
  margin-left: 44%; 
}

/* Contenedor 10: Contacto (Pantalla)*/
.bckg-contacto
{
  background-image: url("../images/cont10.png");
  background-size: 100vw 100vh;
  margin: 0%;
}
form
{
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
}
ol
{
  list-style: none;
  padding: 0;
}
.titulo-cont10
{
  padding-top: 5%;
  padding-left: 15%;
  padding-bottom: 2%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #6A6868;
}
.campos
{
  width: 70%;
  margin-left: 15%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.2px solid #757070;
  background: rgba(255, 255, 255, 0.1);
  padding-top: 4%;
  padding-bottom: 1% ;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ABA7A7;
}
.aviso
{
  padding-top: 4%;
  margin-left: 15%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ABA7A7;
}
#boton
{
  width: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 40%;
  background: #9E3223;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
  border-radius: 19.5px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
}
#boton:hover
{
  cursor: pointer;
}
.contacto
{
  background: #9E3223;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
  border-radius: 0px 8px 8px 0px;
}
}

