@charset "utf-8";
/* CSS Document */

/* Celular           <768px
Tablet               ≥768px
Medium Desktops      ≥992px
Large Desktops       ≥1200px*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

body 
{
  scrollbar-width: none;
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar { display: none; }
.selector-for-some-widget 
{
    box-sizing: content-box;
}
.container-fluid
{
  margin: 0px;
  padding: 0px;
}
.row
{
  overflow-x: hidden;
  margin:0%;
}
.col
{
  margin:0%;
  padding: 0%;
}
.anchopant
{
  width: 100%;
}
/* Contenedor 1 PIRINEOS */
.conten1
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.texto-cont1 
{
  position: absolute;    /* posición absolute con respecto al padre */
  top: 35%; 
  left: 5%; 
  width: 90%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  /* or 37px */
  text-align: center;
  letter-spacing: 0.07em;
  color: #4A3B3B;
}
/* Contenedor 2 ORIGEN */
.conten2
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  z-index: -99;
}
.logo-cont2
{
  position: absolute;    /* posición absolute con respecto al padre */
  top: 5%; 
  left: 38%; 
  width: 20%;
}
.texto-cont2 
{
  position: absolute;    /* posición absolute con respecto al padre */
  top: 35%; 
  left: 5%; 
  width: 90%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  /* or 37px */
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
}

/* Contenedor 3 AVICULTURA DE MUNTANYA (movil)*/
.conten3
{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
  z-index: -99;
  width: 100%;
}
.logo-cont3
{
  position: absolute;
  width: auto;
  left: 6%;
  top: 7%;
}
.titulo-cont3
{
  width: 100%;
  left: 6%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 75px;
  color: #FFFFFF;
  text-align: center;
}
.texto-cont3 
{
  position: absolute;    /* posición absolute con respecto al padre */
  top: 25%; 
  left: 5%; 
  width: 90%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  /* or 37px */
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-align: justify ;
}

/* Contenedor 4: CRIA PRÒPIA (movil)*/
.conten4
{
  width: 100%;
}
.logo-cont4
{
  position: relative;
  width: auto;
  left: 6%;
  top: 7%;
  margin-top: 4%;
  margin-bottom: 3%;
}
.texto-cont4
{
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  letter-spacing: 0.07em;
  color: #4A3B3B;
  padding-left: 5%;
  padding-right: 5%;
}
}

/* Contenedor 5: ALIMENTACIÓ ECOLÒGICA (movil)*/
.conten5
{
  width: 100%;
}
.logo-cont5
{
  position: absolute;
  width: auto;
  left: 6%;
  top: 7%;
}
.titulo-cont5
{
  position: absolute;
  width: 74%;
  left: 10%;
  top: 25%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 75px;
  color: black;
  text-align: center;
}
.texto-cont5
{
  position: absolute;
  width: 84%;
  left: 10%;
  top: 45%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 155.4%;
  /* or 37px */
  letter-spacing: 0.07em;
  color: #4A3B3B;
  text-align: justify;
}

/* Contenedor 6: LA GRANJA (movil)*/
.titulo-cont6
{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #4A3B3B;
  text-align: center;
}
.texto-cont6
{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #4A3B3B;
}
/*Slider*/
.slider
{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider ul 
{
  display: flex;
  padding: 0%;
  width: 300%;
  animation: cambio 15s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.slider li
{
  width: 100%;
  list-style: none;
}
.slider img
{
  width: 100%;
}
@keyframes cambio
{
  0%{margin-left: 0%;}
  30%{margin-left: 0%;}
/* 5% de 20s de tiempo de cambio de una imagen*/
  35%{margin-left: -100%;}
  65%{margin-left: -100%;}

  70%{margin-left: -200%;}
  100%{margin-left: -200%;}
}
.texto-cont6
{
  padding: 3%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  /* or 37px */
  text-align: center;
  letter-spacing: 0.07em;
  color: #4A3B3B;
}
/* Contenedor 7: MEDIAMBIENT (movil)*/
.conten7
{
  position: relative;
  z-index: -99;
}
.logo-cont7
{
  position: absolute;
  width: auto;
  left: 6%;
  top: 7%;
}
.logo-certif
{
  position: absolute;
  left: 50%;
  top: 15%;
}
.titulo-cont7
{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 30%;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 75px;
  color: #FFFFFF;
}
.texto-cont7
{
  position: absolute;
  width: 70%;
  top: 50%; 
  left: 25%; 
  /* Pargraph */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
/* Contenedor 9: OUS FRESCOS (movil)*/
.conten9
{
  position: relative;
  z-index: -99;
}
.texto-cont9
{
  position: absolute;
  top: 35%; 
  left: 5%; 
  width: 90%;
  /* Pargraph */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 155.4%;
  /* or 37px */
  text-align: center;
  letter-spacing: 0.07em;
  color: #4A3B3B;
}

@media (min-width: 768px)
{
  /* menu lateral flotante */
.menu
{
  position: fixed;
  right: 2%;
  top: 30%;
}
ul li
{
  list-style-type:none;
}
.caja 
{
position: relative; /*Para poder ubicar la info dentro de la caja*/
float: right;
height: 20px;
}
a.nounderline:link
{
text-decoration:none;
}
.info 
{
right: 18%; /*Desplazamos a partir de la esquina superior izquierda*/
zoom: 1;
filter: alpha(opacity=0); /*Opacidad Para IE */
opacity: 0; /*Inicialmente transparente */
padding: 5px;
color: red;
font-weight: bold;
font-size: 16px;
-moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
-webkit-transition:all ease .8s ;
transition:all ease .8s;
}
.caja:hover .info 
{
filter: alpha(opacity=80);
opacity: .8; /*Al hacer hover sobre la caja hacemos visible los datos*/
}
/* Contenedor 1: Inicio Pirineos */
.logo-cont1
{
  position: absolute;
  width: auto;
  left: 6%;
  top: 7%;
}
.texto-cont1 
{
  top: 40%; 
  left: 20%; 
  width: 60%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 105px;
  line-height: 155.4%;
  /* or 37px */
  text-align: center;
  letter-spacing: 0.07em;
  color: white;
}

/* Contenedor 2: ORIGEN (pantalla)*/
.logo-cont2
{
  position: absolute;    /* posición absolute con respecto al padre */
  top: 30%; 
  left: 48%;
  width: auto;
}
.texto-cont2 
{
  top: 43%; 
  left: 27%; 
  width: 47%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  /* or 37px */
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
}
/* Contenedor 3: AVICULTURA DE MUNTANYA (pantalla)*/
.logo-cont3
{
  position: absolute;
  width: auto;
  left: 6%;
  top: 7%;
}
.titulo-cont3
{
  width: 100%;
  left: 6%;
  padding-bottom: 5%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}
.texto-cont3 
{
  width: 40%;
  left: 6%;
  top: 43%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  letter-spacing: 0.07em;
  color: #ffffff;
  text-align: justify;
}
.animado
{
  opacity: 0;
  transition: all 0.5s;
}
.mostrarArriba
{
  animation: mostrarArriba 1s;
}
@keyframes mostrarArriba
{
  0%
  {
    transform: translateY(60px);
  }
  100%
  {
    transform: translateY(0px);
  }
}
.mostrarDerecha
{
  animation: mostrarDerecha 0.5s;
}
@keyframes mostrarDerecha
{
  0%
  {
    transform: translateX(-60px);
  }
  100%
  {
    transform: translateX(0px);
  }
}
/* Contenedor 4: CRIA PRÒPIA (pantalla)*/
.logo-cont4
{
  position: relative;
  width: auto;
  left: 6%;
  top: 7%;
  margin-top: 4%;
}
.conten4
{
  z-index: -99;
  width: 100%;
}
.texto-cont4
{
  top: 15%;
  width: 70%;
  margin-left: 15%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #4A3B3B;
}

/* Contenedor 5: ALIMENTACIÓ ECOLÒGICA (pantalla)*/
.conten5
{
  width: 100%;
  z-index: -99;
}
.logo-cont5
{
  position: absolute;
  width: auto;
  left: 6%;
  top: 7%;
}
.titulo-cont5
{
  position: absolute;
  width: 74%;
  left: 10%;
  top: 35%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: #4A3B3B;
  text-align: center;
}
.texto-cont5
{
  position: absolute;
  width: 76%;
  left: 10%;
  top: 43%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  letter-spacing: 0.07em;
  color: #4A3B3B;
}

/* Contenedor 6: LA GRANJA (pantalla)*/
.titulo-cont6
{
  width: 100%;
  top: 65%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: #4A3B3B;
  text-align: center;
}
.texto-cont6
{
  width: 90%;
  top: 70%;
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: ##4A3B3B;
}

/* Contenedor 7: MEDIAMBIENT (pantalla)*/
.logo-cont7
{
  position: absolute;
  width: auto;
  left: 6%;
  top: 7%;
}
.logo-certif
{
  position: absolute;
  left: 58%;
  top: 30%;
}
.titulo-cont7
{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 40%;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}
.texto-cont7
{
  position: absolute;
  width: 55%;
  left:35%;
  top: 50%;
  /* Pargraph */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
/* Contenedor 9: TRANSPORTE */
.texto-cont9
{
  position: absolute;
  width: 83%;
  left: 115.84px;
  top: 490.94px;
  /* Pargraph */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 155.4%;
  /* or 37px */
  text-align: center;
  letter-spacing: 0.07em;
  color: #4A3B3B;
}
}

